<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>
		<target name="logfile"
				xsi:type="File"
				fileName="${basedir}/logs/${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}| ${message} ${exception:format=toString}"
				archiveFileName="${basedir}/logs/archive/${shortdate}.log"
				archiveEvery="Day"
				archiveNumbering="Rolling"
				maxArchiveFiles="7"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>