@using MauiApp1.Front.Services.Jwt
@inject IJwtTokenService JwtTokenService
@inject NavigationManager NavigationManager


<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MauiApp1.Front</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="homeempl" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Главная
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="prodempl">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Товары
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orderempl">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Заказы
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="custempl">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Клиенты
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="emplempl">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Сотрудники
            </NavLink>
        </div>
        <button @onclick="LogoutHandler">Выйти</button>
    </nav>
</div>

@code {
    private void LogoutHandler()
    {
        JwtTokenService.DeleteToken();
        NavigationManager.NavigateTo("login");
    }
}

